.cart-page {
  width: 80%;
  height: 86vh;
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-family: "Yantramanav", sans-serif;
  font-size: 14px;
  padding-left: 10vh;
  /* flex-direction: column; */
}

.no-cart-contents {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("cartsquid.jpg");
  /* z-index: 1000; */
}
.checkout-cart-contents {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("cartsquid.jpg"); */
}
.cart-items-content {
  margin: auto 0;
  height: 40vh;
  width: 100%;
  display: grid;
  color: transparent;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  justify-content: center;
  /* background-image: url("cartsquid.jpg"); */
}
.no-cart-contents:hover {
  color: red;
}

.cart-items {
  height: 35%;
  width: 27%;
  background-color: white;
}
.cart-image {
  height: 10vh;
  width: 10vh;
}
/* .total-box {
  height: 20%;
  width: 20%;
} */
.checkout-box {
  font-family: "Yantramanav", sans-serif;
  font-size: 14px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 100px;
  position: absolute;
  bottom: 0;
  right: 70px;
  font-weight: 100;
}
.and-thats-the-bottom-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 57%;
}
.cart-page-title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  width: 100%;
  height: 10%;
  padding-top: 50px;
}
