.cart-page {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cart-items {
  height: 20%;
  width: 20%;
  border-style: solid;
  border-width: 2px;
}
.cart-image {
  height: 10vh;
  width: 10vh;
}
.total-box {
  height: 20%;
  width: 20%;
}
