.landing {
  height: 100vh;
  width: 100%;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
}
.videobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54%;
}

#squiddy {
  min-width: 10vh;
  min-height: 10vh;
  width: 85%;
  height: 100%;
}
.landing-title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  width: 100%;
  height: 15%;
  padding-top: 50px;
}
.landing-home {
  /* font-size: 18px; */
  /* letter-spacing: 1.2em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-link {
  height: 20px;
}
.hiddentext {
  color: white;
  display: flex;
}
.hiddentext:hover {
  color: tomato;
  font-family: "Yantramanav", sans-serif;
}
.welcome {
  transition: 2s;
  height: 20px;
}
.firstpart {
  transition: 2s;
  padding-right: 5px;
}
.secondpart {
  transition: 3s;
  padding-right: 5px;
}
.thirdpart {
  transition: 4s;
  padding-right: 5px;
}
.fourthpart {
  transition: 5s;
  padding-right: 5px;
}
.fifthpart {
  transition: 6s;
  padding-right: 5px;
}
.lastpart {
  transition: 7s;
  padding-right: 5px;
}

.footer-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  width: 100%;
  height: 15%;
  padding-top: 50px;
  font-size: 14px;
}
.footer-contents:hover {
  color: tomato;
}

@media (max-width: 459px) {
  .landing {
    background-color: lightgray;
  }
  .hiddentext {
    color: black;
  }
  .landing-title-bar {
    display: none;
  }
}
