.locations-page {
  height: 200vh;
  width: 100%;
  font-family: "Yantramanav", sans-serif;
}
.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10%;
  /* background-color: hotpink; */
}
.title {
  height: 5vh;
  width: 10vh;
  font-weight: 500;
  /* background-color: limegreen; */
}
.wrapper {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 60% 50%;
  grid-gap: 20px;
  color: #fff;
  /* height: 60%; */
  justify-content: center;
  /* background-color: indigo; */
  /* width: 100%; */
  /* padding-left: 50px; */
}
.box {
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  text-align: center;
  /* height: 80%; */
  color: black;
  /* font-weight: 300; */
  /* font-size: 150%; */
  /* line-height: 24px; */
  /* letter-spacing: 0.9968px; */
  /* background-color: grey; */
}
.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.img-container:hover > .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98.5%;
  /* left: 62px; */
  background-color: #000;
  opacity: 0.6;
  display: block;
}

.img-text {
  width: 70%;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.7em;
}
.address {
  padding: 30px;
  letter-spacing: 0.2em;

  font-weight: 300;
}
.diviline {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100px;
}
.locations-details-container {
  /* padding-top: 20px;
  width: 600px; */
  /* border-top-style: solid; */
}
.locations-piece {
  font-size: 14px;
  /* text-align: center; */
  line-height: 21px;
  letter-spacing: 1.708px;
  font-weight: 300;
  margin: auto 0;
}

/* .a {
  display: flex;
  flex-direction: column;
} */

.locationimage {
  width: 100%;
}
