.locations-page {
  height: 200vh;
  width: 100%;
  font-family: "Yantramanav", sans-serif;
}
.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  width: 100%;
  height: 10%;
  /* background-color: hotpink; */
}
.title-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
}
.wrapper {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 60% 50%;
  grid-gap: 20px;
  color: #fff;
  justify-content: center;
  /* background-color: indigo; */
}
.box {
  color: #fff;
  border-radius: 5px;
  text-align: center;
  color: black;
  /* background-color: grey; */
}
.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  opacity: 0.3;
  transition: opacity 0.25s ease-in-out;
}

.img-container:hover > .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98.5%;
  background-color: grey;
  opacity: 0.6;
  display: block;
}

.img-text {
  width: 70%;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.7em;
}
.address {
  padding: 30px;
  letter-spacing: 0.2em;

  font-weight: 300;
}
.diviline {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100px;
}

.locations-piece {
  font-size: 14px;
  /* text-align: center; */
  line-height: 21px;
  letter-spacing: 1.708px;
  font-weight: 300;
  margin: auto 0;
}

.locationimage {
  width: 100%;
}
.loc {
  padding-left: 30px;
}
.lochome {
  padding-right: 30px;
}
