/* body {
  margin: 0;
  padding: 0;

  make it look decent enough
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
} */
.navigation {
  display: flex;
  width: 100%;
  height: 6vh;
  /* background: limegreen; */
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  align-items: center;
  position: fixed;
  z-index: 98;
  justify-content: space-between;
}
.navlink-container {
  /* background: hotpink; */
  display: flex;
  /* position: fixed; */
  justify-content: flex-end;
  /* background: orange; */
  padding: 20px;
  box-sizing: border-box;
  font-size: 17px;
}
.navtext {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
  /* text-decoration: underline; */
}

#menuToggle {
  display: block;
  /* position: relative; */
  top: 50px;
  left: 50px;
  padding-left: 30px;

  z-index: 99;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 99; /* and place it over the hamburger */
  color: white;

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 99;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  background-color: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 200px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  z-index: 98;
  background: black;
  opacity: 0.9;
  list-style-type: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ div {
  transform: none;
}
.menu-link {
  color: white;
}
.menu-item {
  font-size: 35px;
}
.menu-item-container {
  /* background: salmon; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
