.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 5vh;
  background: #eee;
}
.navtext {
  font-size: 15px;
  line-height: 50px;
  font-family: "Lato", sans-serif;
  color: black;
}
